.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 10px;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #fff;
}